html, body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
h1, h2, h3, h4, p{
    margin: 0;
}
header nav{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
header nav ul{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 33px;
}
header nav li{
    list-style-type: none;
}
header nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}
/* hero section */
.hero-section{
    background-color: #fff;
}
.hero-section .hero-inner{
    max-width: 960px;
    margin: 0 auto;
    padding: 138px 0;
    display: flex;
    align-items: center;
}
.hero-section .hero-inner .col-left{
    max-width:497px;
}
.hero-section .hero-inner .col-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.hero-section .hero-inner .col-left h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.hero-section .hero-inner .col-left p{
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.hero-section .hero-inner .col-left .btn{
    margin-top: 38px;
    background: #FF6464;
    width: 208px;
    height: 47px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    max-width: fit-content;
}
.dp{
    max-width: 243px;
    height:auto;
    border-radius: 100%;
}
.posts-section{
    background-color: #EDF7FA;
    padding: 32px 0px;
}
.posts-section-inner{
    max-width:960px;
    margin: 0 auto;
}
.posts-section-inner .posts-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts-section-inner .posts-header h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.posts-section-inner .posts-header a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}
.posts-section-inner .posts{
    display: flex;
    gap:20px;
}
.posts .post-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px;
}
.posts .post-item header h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 16px;
}
.post-item .meta{
    display:flex;
    gap:26px;
}